@media(min-width:1440px) {
    main {
        width: 1440px;

    }

    .maintxt {
        width: 730px;
        height: 151px;
    }

    .mainbox {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    main img {
        width: 755px;
        height: 600px;
    }

    .categorybox1 {
        text-align: left;
    }

    .compmob {
        display: none;
    }

    .compdes {
        display: inline;
    }

    article {
        width: 810px;
   
        
    }

    h4 {
        font-size: 22px;
    }

    .tabtab {
        display: none;
    }

    .tabdes {
        display: inline;
    }

    .categorybox2 {
        width: 1114px;
        height: 360px;
        margin-top: 170px;

    }

    .cardbox {
        margin-top: 72px;
        width: 100%;
        height: 198px;
        flex-direction: row;
    }

    .card {
        width: 350px;
        height: 198px;
    }

    .h4 {
        width: 350px;
        height: 72px;
    }

    section {
        width: 1112px;
        display: flex;
        flex-direction: row;
    }

    .google {
        gap: 120px;
    }

    .vector {
        position: relative;
        top: -100px;
        left: 400px;
        gap: 120px;
    }

    footer {
        height: 150px;
    }

    .footxt {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .active {
        pointer-events: all;
    }

    button:hover {
        cursor: pointer;
        scale: 1.2;
    }

    .ios:active {
        background-color: #6174FF;
        border-style: double;
    }

    .mac:active {
        background-color: #26BBA4;
        border-style: double;
    }
}