@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    font-family: "Bai Jamjuree", sans-serif;


}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    width: 100vw;
    height: 700px;
    background-image: url(./assets/cover.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

}

header img {
    margin-top: 125px;
    margin-bottom: 64px;
    animation: bounce 1s infinite ease-in-out;

}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    width: 318px;
}

.headerp {
    color: #9EABB2;
    font-size: 16px;
    margin-top: 16px;
    width: 318px;
}

.btnbox {
    width: 318px;
    height: 136px;
    margin-top: 56px;
    gap: 24px;
}

button {
    width: 318px;
    height: 56px;
    border-radius: 28px;
    border: none;
    pointer-events: none;
    background-color: #26BBA4;
    font-size: 20px;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;

}

.mac {
    background-color: #6174FF;
}

main {
    width: 312px;
    height: 982px;
    margin-top: 158px;
}

.maintxt {
    width: 100%;
    height: 206px;
}

h3 {
    font-size: 28px;
    color: #4C545C;

}

.maintxt p {
    width: 312px;
}

.mainbox {
    margin-top: 72px;
}

.categorybox1 {
    width: 312px;
    height: 394px;
    gap: 56px;
    margin-top: 72px;
}

.categ {
    width: 100%;
    height: 110px;
}

h2 {
    color: #4C545C;
    font-size: 24px;
}

h4 {
    color: #9EABB2;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400;
}

.compdes {
    display: none;
}

article {
    width: 311px;
    height: 410px;
    margin-top: 177px;
    gap: 72px;
}

.tabdes,
.tabtab {
    display: none;
}

.categorybox2 {
    width: 311px;
    height: 880px;
    margin-top: 130px;
}

.cardbox {
    width: 311px;
    height: 658px;
    margin-top: 88px;
    gap: 64px;
}

.card {
    width: 100%;
    height: 198px;
}

.card img {
    margin-bottom: 40px;
}

section {
    width: 139px;
    height: 437px;
    margin: 145px 172px;


}

.vector {
    margin-top: 20px;
}

.google,
.vector {
    gap: 56px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}