

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100vw;
    background-image: url();
}